.body_content{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.password_generator{
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 4px beige,    0 0 6px rgb(4, 238, 255);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    animation: animate 5s linear infinite;
    -webkit-animation: animate 15s linear infinite;
}
@keyframes animate{
    0%{ filter:hue-rotate(0deg) ; -webkit-filter:hue-rotate(0deg) ; }
    100%{ filter:hue-rotate(3600deg) ; -webkit-filter:hue-rotate(3600deg) ; }
}
.password_generator h3{
    text-align: center;
    color: #06b2dd;
}
.input-group > input{
    height: 40px;
    border: none;
    outline: none;
}
.input-group > button{
    height: 40px;
    border: none;
    color: white;
    font-weight: 600;
    background-color: #0652DD;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.check_Value{
    margin-top: 20px;
}
.check_Value label{
    color: white;
    margin-left: 15px;
    margin-right: 5px;
}